* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  font-family: 'Zilla Slab', serif;
  background-color: gainsboro;
  min-width: 100%;
}

body {
  font-family: sans-serif;
  color: #4a4a4a;
  height: auto;
}

ul {
  list-style: none;
}

.btn {
  padding: 3px 6px;
}

.task-name {
  padding-left: 5px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.175);
  li>a {
    &:hover {
      background-color: #bdf3f3;
    }
  }
}
  .navbar-inverse .navbar-brand {
    color: #26d9d9;
    font-size: large;
    &:hover {
      color: #000;
    }
    &:focus {
      color: #bdf3f3;
    }
  }
.navbar-inverse .navbar-nav>li>a {
    font-size: medium;
  }
  .navbar-nav .active a {
    color: #26d9d9;
    background-color: #fff;
  }


  .navbar-nav>.active>a:focus {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.active>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  }
  .navbar-nav>.open>a {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.open>a:focus {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.open>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  }
  .navbar-toggle {
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
    &:hover {
      background-color: #bdf3f3;
    }
  }

@media screen and (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

@media (min-width: 979px) {

}
