<div class="container">
<section class="row">
  <center><h1>Completed Tasks</h1></center>
  <center><p>Click on the ✔ to move to destructed list.</p></center>
  <hr />
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="task in completed.tasks" ng-show="task.done == true">
          <span class="task-name">{{ task.name.name }}</span>
          <button class="button btn-success completed pull-right" ng-click="completed.moveTaskToExpired(task)">✔</button>
    </li>
  </ul>
  <hr />
<section>
</div>
